<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userBean" name="user" class="com.itbulls.learnit.spring.core.ioc.User">
		<property name="firstName" value="John"/>
		<property name="lastName" value="Smith"/>
		<property name="email" value="john.smith@email.com"/>
	</bean>
	
	<bean id="userPrototype" class="com.itbulls.learnit.spring.core.ioc.User" scope="prototype">
		<property name="firstName" value="John"/>
		<property name="lastName" value="Smith"/>
		<property name="email" value="john.smith@email.com"/>
	</bean>

</beans>  