<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="userBean" name="user" class="com.itbulls.learnit.spring.core.ioc.User">
		<property name="firstName" value="John"/>
		<property name="lastName" value="Smith"/>
		<property name="email" value="john.smith@email.com"/>
	</bean>
	
	<bean id="userPrototype" class="com.itbulls.learnit.spring.core.ioc.User" scope="prototype">
		<property name="firstName" value="John"/>
		<property name="lastName" value="Smith"/>
		<property name="email" value="john.smith@email.com"/>
	</bean>
	
	
	
	<bean id="adminRole" class="com.itbulls.learnit.spring.core.ioc.di.Role">
		<property name="roleName" value="ADMIN_ROLE"/>
	</bean>
	<bean id="adminUser" class="com.itbulls.learnit.spring.core.ioc.di.User">
		<constructor-arg name="role" ref="adminRole" /> 
	</bean>
	<bean id="adminUser2" class="com.itbulls.learnit.spring.core.ioc.di.User">
		<constructor-arg index="0" ref="adminRole" /> 
	</bean>
	<bean id="adminUser3" class="com.itbulls.learnit.spring.core.ioc.di.User">
		<constructor-arg type="Role" ref="adminRole" /> 
	</bean>
	
	<bean id="adminUser4" class="com.itbulls.learnit.spring.core.ioc.di.User">
		<property name="role" ref="adminRole" /> 
	</bean>
	<bean id="adminUser5" class="com.itbulls.learnit.spring.core.ioc.di.User" autowire="byType" lazy-init="true"/>
	
	<bean id = "javaCollection" class = "com.itbulls.learnit.spring.core.ioc.di.JavaCollectionInjectionDemo">
      <!-- results in a setAddressList(java.util.List) call -->
      <property name = "addressList">
         <list>
            <value>Ukraine</value>
            <value>France</value>
            <value>USA</value>
            <value>USA</value>
         </list>
      </property>

      <!-- results in a setAddressSet(java.util.Set) call -->
      <property name = "addressSet">
         <set>
            <value>Ukraine</value>
            <value>France</value>
            <value>USA</value>
            <value>USA</value>
         </set>
      </property>

      <!-- results in a setAddressMap(java.util.Map) call -->
      <property name = "addressMap">
         <map>
            <entry key = "1" value = "Ukraine"/>
            <entry key = "2" value = "France"/>
            <entry key = "3" value = "USA"/>
            <entry key = "4" value = "USA"/>
         </map>
      </property>
      
      <!-- results in a setAddressProp(java.util.Properties) call -->
      <property name = "addressProp">
         <props>
            <prop key = "one">Ukraine</prop>
            <prop key = "one">Ukraine</prop>
            <prop key = "two">France</prop>
            <prop key = "three">USA</prop>
            <prop key = "four">USA</prop>
         </props>
      </property>
   </bean>

</beans>  